@media (min-width: 768px) {
    .navbar-expand-md {
        flex-wrap: nowrap;
        justify-content: flex-start
    }
}

:root{
    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav' , sans-serif;
}
